In [1]:
# Import the required libraries and dependencies
import pandas as pd
from pathlib import Path

In [2]:
#import csv
path = "Resources/HistoricalData.csv"
df = pd.read_csv(path,parse_dates=True)
df.head()

         Date  Close/Last  Volume    Open    High     Low
0  04/30/2024      1.0656     NaN  1.0665  1.0674  1.0655
1  04/29/2024      1.0703     NaN  1.0719  1.0724  1.0703
2  04/28/2024      1.0716     NaN  1.0692  1.0720  1.0692
3  04/26/2024      1.0694     NaN  1.0729  1.0753  1.0674
4  04/25/2024      1.0722     NaN  1.0729  1.0732  1.0718

In [3]:
#extract columns
df2 = df[['Date','Close/Last']].copy()
df2.head()

         Date  Close/Last
0  04/30/2024      1.0656
1  04/29/2024      1.0703
2  04/28/2024      1.0716
3  04/26/2024      1.0694
4  04/25/2024      1.0722

In [4]:
#convert date column from string to date
df2['Date']=pd.to_datetime(df2['Date'])
df2.head()

        Date  Close/Last
0 2024-04-30      1.0656
1 2024-04-29      1.0703
2 2024-04-28      1.0716
3 2024-04-26      1.0694
4 2024-04-25      1.0722

In [5]:
#EXTRACT BY DATE
df3=df2.loc[(df2['Date']>='2022-01-02')]
df3.head()

        Date  Close/Last
0 2024-04-30      1.0656
1 2024-04-29      1.0703
2 2024-04-28      1.0716
3 2024-04-26      1.0694
4 2024-04-25      1.0722

In [6]:
#drop all nulls
df3.dropna()

          Date  Close/Last
0   2024-04-30      1.0656
1   2024-04-29      1.0703
2   2024-04-28      1.0716
3   2024-04-26      1.0694
4   2024-04-25      1.0722
..         ...         ...
711 2022-01-06      1.1303
712 2022-01-05      1.1315
713 2022-01-04      1.1291
714 2022-01-03      1.1301
715 2022-01-02      1.1341

[716 rows x 2 columns]

In [7]:
#Sort Values
df3=df3.sort_values(by='Date')
df3.head()

          Date  Close/Last
715 2022-01-02      1.1341
714 2022-01-03      1.1301
713 2022-01-04      1.1291
712 2022-01-05      1.1315
711 2022-01-06      1.1303

In [8]:
df3 = df3.rename(columns={'Close/Last':'Close'})
df3 = df3.set_index('Date')
df3.head()

             Close
Date
2022-01-02  1.1341
2022-01-03  1.1301
2022-01-04  1.1291
2022-01-05  1.1315
2022-01-06  1.1303

In [9]:
hed_df=df3

In [10]:
%store hed_df

Stored 'hed_df' (DataFrame)